<%= erb :head %>

<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 main-body'>

      <h3 class='text-center'>Invoice #<%= invoice_number %> is Paid<h3>

      <p class='lead'>This invoice has already been paid.</p>

    </div>
  </div>
</div>
